div{
	width: 20px;
	height: 20px;
	margin: 1px;
	display: inline-block;
	
}
body{
	background: url(g.jpg);
	background-size: cover;
}
section{
	margin: auto auto;
	width: 780px;
}

.col{
	margin: 0px;
	margin-right: -4px;
	/*background: url(plu.png);*/
	/*background-size: cover;*/
	width: 40px;
	height: 40px;
	display: inline-block;
	
}
.str{
	margin: 0px;
	margin-right: 0px;
	display: block;
	/*background: url(plu.png);*/
	/*background-size: cover;*/
	width: 40px;
	height: 40px;
	/*border: 1px solid black;*/

}
.zelle{
	margin: 0px;
	z-index: +5;
	background: white;
	
	/*background: url(plu.png);*/
	/*background-size: cover;*/
	width: 40px;
	height: 40px;
}
.spilebrett{
	position: absolute;
	width: auto;
	height: auto;
	z-index: -10;
	margin: 21px;
}
.sehenbrett{
	position: absolute;
	width: auto;
	height: auto;
}

.sehenbrett .zelle{
	background: rgba(255,255,255,.1);

}
.spilebrett .zelle{
	background: rgba(255,255,255,.1);
	border: 1px solid black;
}
#iszelle{
	width: 38px;
	height: 38px;
	background: black;
	border: 1px solid black;
	border-radius: 100%;

}
.brett{
	padding: 30px;
	position: absolute;
	width: 760px;
	height: 760px;
	background: url(shpon1.jpg)no-repeat;
	background-size: cover;
	z-index: -90
}












